.grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1.5fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    background-color: #011627;
    height: 100vh;
    font-family: 'Oswald', sans-serif;
}

.calculator {
    display: grid;
    grid-column-start: 2;
    grid-row-start: 2;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
}

.display {
    color: #FBE8A6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.keyboard {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.numbers {
    display: grid;
    grid-gap: 4px;
    grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr;
}

.operators {
    display: grid;
    grid-gap: 4px;
    border-left: 2px solid  #FBE8A6;
    border-radius: 1px;
    grid-template: repeat(1fr, 5) / 1fr;
}

.clear_button {
    border-top: 2px solid #FBE8A6;
    border-radius: 1px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear_button button {
    height: 100%;
    width: 100%;
}

.clear_button button:active {
    background-color:#F77F00;
    color: white;
}

button {
    font-size: 20px;
    color: #FBE8A6;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    outline: 0;
    box-sizing: border-box;
    transition-duration: 0.5s;
}

button:hover {
    transition-duration: 0.5s;
    background-color: #FBE8A6;
    color: #011627;
}

button:active {
    transition: none;
    background-color: #182B3A;
}


.history {
    display: grid;
    grid-column-start: 4;
    grid-row-start: 2;
    grid-template-rows: 4fr 1fr;
    border: 2px solid #FBE8A6;
    border-radius: 1px;
}

.history_text {
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    color: #FBE8A6;
    justify-self: center;
    align-self: start;
    white-space: pre-line;
    margin-top: 15px;
}

.reset_history {
    display: grid;
    justify-self: center;
    align-self: end;
    height: 30px;
    width: 110px;
    margin-bottom: 15px;
}
